<!DOCTYPE HTML>
<html lang="kr">
<head>
	<meta charset="utf-8">
	<title>Simple IP Tracker</title>
</head>
<body>
<h1>Simple 1px IP Tracker.</h1>
<h1>Do not attack.</h1>
Git : <a href="https://github.com/whackur/simple-1px-ip-tracker">https://github.com/whackur/simple-1px-ip-tracker</a>
<br><br>
<h3>Replace 'example.com'</h3>
<br><br>
Insert HTML Code in blog or somewhere.
<br><br>
&lt;img src="http://example.com/tracker_for_me" /&gt;
<br><br>
Replace 'example.com' with your host.<br>
What is my ip? : http://example.com/my_ip<br>
IP Address will save : http://example.com/tracker_for_me<br>
IP list on : http://example.com/tracker_list_for_me<br>
<br><br>

</body>
</html>
